*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.logoimg{
    width: 7rem;
    height: 7rem;
}
.main-img{
    margin-top: 7rem;
    width: 100%;
    height: 100vh; 
    object-fit: cover;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
  }
.second-img{
    width: 500px;
    height: 500px;
}
.image-container {
    position: relative;
    overflow: hidden;
  }
  .image-container:hover .overlay {
    opacity: 2;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s ease;
  }
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .section3{
    width: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  